.footer {
	background-color: #141414;
	color: #BCBCBC;
}
.footer__content {
	display: flex;
	justify-content: space-between;
	padding: 70px 95px 20px;
}
.footer__text {
	width: 225px;
}
.footer__title {
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	margin-bottom: 25px;
}
.footer__copiryght {
	font-size: 1rem;
	font-family: 'Nunito Sans', sans-serif;
}
.footer__connect {
	display: block;
	text-decoration: none;
	color: #BCBCBC;

	transition: color .2s linear;


	&:hover {
		color: $light-green;
	}
}
.footer__social {
	display: block;
}

.social {
	display: block;
	margin-bottom: .5rem;
	font-size: .8rem;
	color: #BCBCBC;
	text-decoration: none;

	transition: color .2s linear;

	&:hover {
		color: $light-green;
	}
}