.services {
	background-color: $light-gray;
	padding:80px 0;
}
.services__intro {
	display: flex;
	padding: 25px 0;
	
}
.services__col {
	text-align: center;
	padding: 0 50px;

}
.services__title {
	font-size: .8rem;
	margin-bottom: 1rem;
}
.services__text {
	font-size: 1.06rem;
	color: $gray;
	font-family: 'Nunito Sans', sans-serif;
}