.work {
	padding-bottom: 80px;
}
.work__intro {
	display: flex;
	flex-wrap: wrap;
}
.work__col {
	width: 25%;
	margin: 0;

	img {
		display: block;
		width: 100%;
	}
}
.work__process {
	text-align: center;
	margin-top: 80px;
}
.work__content {
	width: 600px;
	margin: 0 auto;
}
.work__title {
	font-size: 2rem;
	font-weight: 500;
}
.work__text {
	font-size: 1.06rem;
	color: $gray;
	line-height: 1.8;

	margin-top: 20px;
}
.work__video {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	max-width: 1100px;
	margin: 50px auto 0;
	height: 570px;
	background-color: #E9E9E9;
}
.play__icon {
	width: 70px;
	transition: width .2s linear;

	&:hover {
		width: 90px;
	}
}